.nav-container {
    background-color: transparent;
    width: 100%;
    height: 12vh;
    align-items: center;
}

.nav-ul li {
    margin-right: 40px;
    list-style-type: none;
    font-weight: 600;
}

.nav-ul li:hover {
    color: #1DB2FF;
}